@media screen and (min-width:560px) {

    .col-sm-100 {
        flex-basis: 100%;
    }

    .col-sm-50 {
        flex-basis: calc(100% / 2);
    }

    .col {
        padding-left: var(--spacer-description);
    }

    .row {
        margin-left: -1rem;
    }
}

@media screen and (min-width:768px) {
    html {
        font-size: 16px;
    }

    .col-sm-100 {
        flex-basis: 100%;
    }


    .col-md-2-3 {
        flex-basis: calc(100% / 3 * 2);
    }

    .col-md-1-3 {
        flex-basis: calc(100% / 3);
    }

    .col-md-1-2 {
        flex-basis: 50%;
    }

    .phone-img-container {
        width: calc(100% / 2);
    }

    .card-testimonial {
        flex-direction: row;
    }

    .testimonial-container img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }

    .img-about-us {
        margin: auto;
    }

    .img-about-us {
        width: 200px;
    }

    .about {
        padding-left: 2rem;
    }

}

@media screen and (min-width:992px) {

    html {
        font-size: 18px;
    }

    .right-nav {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    .col-lg-1-2 {
        flex-basis: 50%;
    }

    .col-1-3-lg {
        flex-basis: calc(100% / 3);
    }


    .description-container {
        flex-basis: calc(100%/2);
    }

    .col-2-3-lg {
        flex-basis: calc(100% / 3 * 2);
    }

    .col-lg-1-4 {
        flex-basis: calc(100% / 4);
    }

    .col-lg-3-4 {
        flex-basis: calc(100% / 4 * 3);
    }

    .img-about-us {
        padding-left: 2rem;
    }

    .about {
        padding-left: 3rem;
    }


}

@media screen and (min-width:1200px) {
    .col-el-1-3 {
        flex-basis: calc(100% / 3);
        display: flex;
    }

    .card {
        display: flex;
        flex-direction: column;
    }
}


/* Hamburger Menu */

label i {
    display: inline-block;
    height: 100%;
}

label input {
    display: none;
}

label input:checked+.menu {
    transform: translatey(0);
}

.hamburger {
    position: relative;
    height: 100%;
}

.menu {
    position: absolute;
    width: 200px;
    min-height: 200px;
    background-color: #0084fd;
    right: 10px;
    transform: translatey(500px);
    transition: all 1s;
    border: 2px solid black;

}

.menu ul li {
    list-style: none;
    margin: 1rem 0rem;
    padding-left: 10px;
    font-weight: bold;
    color: #b5ddff;
}