@media screen and (min-width:768px) {
    html {
        font-size: 16px;
    }

    .col-md-2-3 {
        flex-basis: calc(100% / 3 * 2);
    }

    .col-md-1-3 {
        flex-basis: calc(100% / 3);
    }

    .col {
        padding-left: var(--spacer-description);
    }

    .row {
        margin-left: -1rem;
    }

    .col-md-1-2 {
        flex-basis: 50%;
    }

    .phone-img-container {
        width: calc(100% / 2);
    }

    .card-testimonial {
        flex-direction: row;
    }

    .testimonial-container img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }

    .img-about-us {
        margin: auto;
    }

    .img-about-us {
        width: 200px;
    }

    .about {
        padding-left: 2rem;
    }

}

@media screen and (min-width:992px) {

    html {
        font-size: 18px;
    }

    .right-nav {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    .col-lg-1-2 {
        flex-basis: 50%;
    }

    .col-1-3-lg {
        flex-basis: calc(100% / 3);
    }


    .description-container {
        flex-basis: calc(100%/2);
    }

    .col-2-3-lg {
        flex-basis: calc(100% / 3 * 2);
    }

    .col-lg-1-4 {
        flex-basis: calc(100% / 4);
    }

    .col-lg-3-4 {
        flex-basis: calc(100% / 4 * 3);
    }

    .img-about-us {
        padding-left: 2rem;
    }

    .about {
        padding-left: 3rem;
    }


}